<form [formGroup]="resetForm" (ngSubmit)="sendResetLink()">
  <mat-form-field appearance="fill" class="full-width">
    <mat-label>Email</mat-label>
    <input matInput formControlName="email" type="email" />
    <mat-error *ngIf="resetForm.get('email')!.hasError('required')">Email is required</mat-error>
    <mat-error *ngIf="resetForm.get('email')!.hasError('email')">Please enter a valid email</mat-error>
  </mat-form-field>

  <button mat-raised-button color="primary" type="submit" [disabled]="resetForm.invalid" style="margin-left: 5px;">Reset</button>
  </form>