<mat-card class="sign-in-card">
    <mat-card-title>Log In</mat-card-title>
    <form [formGroup]="loginForm" (ngSubmit)="logIn()">
        <mat-form-field appearance="fill" class="full-width">
            <mat-label>Email</mat-label>
            <input matInput formControlName="email" type="email" />
            <mat-error *ngIf="loginForm.get('email')!.hasError('required')">Email is required</mat-error>
            <mat-error *ngIf="loginForm.get('email')!.hasError('email')">Please enter a valid email</mat-error>
        </mat-form-field>
  
      <mat-form-field appearance="fill" class="full-width">
        <mat-label>Password</mat-label>
        <input matInput formControlName="password" type="password" />
        <mat-error *ngIf="loginForm.get('password')!.hasError('required')">Password is required</mat-error>
      </mat-form-field>
      <button mat-raised-button color="primary" type="submit" [disabled]="loginForm.invalid">
        Log In
      </button>
      <br/>
      <br/>
      Don't have an account yet? <a routerLink="/sign-up" class="link-style">Create one here!</a>
    </form>
  </mat-card>